
<div class='row'>
   <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote_type: true), method:'post' do %>
        <i class="icon-arrow-up"/></i>
      <% end %>
      <br/>
    <% end %>
    <%= comment.overall_standing %>
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote_type: false), method:'post' do %>
        <i class="icon-arrow-down"/></i> 
      <% end %>
    <% end %>
  </div>
  <div class='span8 well'>
    <em>"<%= comment.body %>"</em>
    <% if show_post_title ||= false %>
      <%= link_to comment.post.title, fix_url(comment.post.url) %>
    <% end %>
    <p>
      <span class='quiet'>by</span> <%= link_to comment.creator.username, user_path(comment.creator)%>
      <small>at <%= display_datetime(comment.created_at)%></small>
    </p>
  </div>
</div>


