<div class='row'>
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote_type: true), method:'post' do %>
        <i class="icon-arrow-up"/></i>
      <% end %>
      <br/>
    <% end %> 
      <%= post.overall_standing %>
      <br/>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote_type: false), method:'post' do %>
        <i class="icon-arrow-down"/></i>
      <% end %>
    <% end %>
  </div>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by </span><%= post.creator.username %>
      <small><%= display_datetime(post.created_at) %></small>
    </p>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post))%>
    </span>
    <span>
      <%= link_to("Edit post", edit_post_path(post)) if logged_in? %>
    </span>
  </div>
</div>
